{% extends "base_generic.html" %}

{% block links %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}">
{% endblock %}

{% block body %}
<div class="form">

    <ul class="tab-group">
        <li class="tab active"><a href="#profile">Profile</a></li>
        <li class="tab"><a href="#recognize">Recognize</a></li>
    </ul>

    <div class="tab-content">
        <div id="profile">
            <h1>Hello, {{ user.username }}!</h1>

            <ul class="tab-group">
            <li class="profile_info">
            <form action="{% url 'change_pass' %}" method="post">
                {% csrf_token %}

                <h1>Change password</h1>
                <div class="field-wrap">
                    <label>
                        Old password<span class="req">*</span>
                    </label>
                    {{ change_form.old_password }}
                </div>

                <div class="field-wrap">
                    <label>
                        New password<span class="req">*</span>
                    </label>
                    {{ change_form.new_password }}
                </div>

                <div class="field-wrap">
                    {% if messages %}
                        {% for message in messages %}
                            <label class="err_msg" id="change_err">{{ message }}</label>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="field-wrap">
                    <button type="submit" class="button button-block" id="change_button">Change password</button>
                </div>

            </form>
            </li>

            <li class="profile_info"><form>

                <div class="field-wrap">
                    <label class="info">
                      You recognized {{ user.profile.uploads_count }} face expressions already!
                    </label>
                </div>

                <div class="field-wrap">
                    <label class="info">
                        Last processed image:
                    </label>
                </div>

                <div class="field-wrap"></div>

                <div class="field-wrap">
                    {% if last_img %}
                    <a href="#big_img_last" class="show-field img-div" id="img_popup">
                        <img class="load_image" src="{{ last_img.url }}">
                    </a>
                    {% else %}
                    <div class="show-field img-div">
                        <label><span class="req">You did not process any images</span></label>
                    </div>
                    {% endif %}
                </div>

            </form></li>
            </ul>

            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <div class="field-wrap">
                  <button type="submit" class="button button-block" id="out_button">Log out</button>
              </div>
            </form>

            {% if last_img %}
            <div id="big_img_last" class="popup">
                <a href="#"><div class="bg_div"><img class="full-img" src="{{ last_img.url }}"></div></a>
            </div>
            {% endif %}

        </div>

        <div id="recognize">
            <h1>Recognize face expression</h1>

            <ul class="tab-group">
            <li class="photo_upload">
            <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}" id="img_upload">
                {% csrf_token %}

                <div class="field-wrap">
                    <label>
                        Title<span class="req">*</span>
                    </label>
                    {{ img_form.title }}
                </div>

                <div class="field-wrap2">
                    <div class="img-div" id="upload-field">
                        {{ img_form.image }}
                        <label for="id_image" class="file-choose">
                            <span class="req">Click to upload a file or drop it here.<br></span>
                            <span id="loaded-file">File not selected</span>
                        </label>
                    </div>
                </div>

                <div class="field-wrap">
                    <label class="err_msg" id="upload_err">{{ upload_err }}</label>
                </div>

                <div class="field-wrap">
                    <button type="submit" class="button button-block" id="rec_button">Recognize</button>
                </div>

            </form>
            </li>
            <li class="photo_upload">
            <form>

                <div class="field-wrap">
                    {% if rec_img %}
                        <a href="#big_img_rec" class="img-div" id="img_popup2">
                            <img class="load_image" src="{{ rec_img.url }}">
                        </a>
                    {% else %}
                    <div class="img-div">
                        <label><span class="req">Processed image will be shown here</span></label>
                    </div>
                    {% endif %}
                </div>

                <div class="field-wrap">
                    {% if rec_img %}
                        <a download href="{{ rec_img.url }}" id="load_ref">Download</a>
                    {% endif %}
                </div>

                {% if rec_img %}
                <div id="big_img_rec" class="popup">
                    <a href="#" style="padding:0"><div class="bg_div"><img class="full-img" src="{{ last_img.url }}"></div></a>
                </div>
                {% endif %}

            </form>
            </li>
            </ul>

        </div>

    </div>

</div>

    <script type="text/javascript" src="{% static 'main/js/index.js' %}"></script>
    {% if swap %}
        <script>
            $('.tab a').trigger("click", [false]);
        </script>
    {% endif %}

{% endblock %}
